@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
  list-style: none;
  /* background-color: var(--main-bg); */
  color: var(--default-color);
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.title__wrapper {
  position: relative;
  text-align: center;
}
.main__title {
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
  padding-top: 90px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.bg__title {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%);
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 4px;
  opacity: 0.1;
  text-transform: uppercase;
}

.content__wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}
.content__desc {
  font-size: 24px;
}
@media (max-width: 900px) {
  .content__desc {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .bg__title {
    font-size: 80px;
    top: 52px;
  }
  .main__title {
    font-size: 40px;
    padding-top: 70px;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .bg__title {
    font-size: 50px;
    top: 60px;
  }
  .main__title {
    font-size: 32px;
  }
  .content__desc {
    font-size: 16px;
  }
}
.html {
  color: var(--html);
}
.css {
  color: var(--css);
}
.js {
  color: var(--js);
}
.restapi {
  color: var(--restapi);
}
.react {
  color: var(--react);
}
.vue {
  color: var(--vue);
}
:root {
  /* colors */
  --main-bg: #050816;
  --default-color: #adb5bd;
  --white: #fff;
  --violet: #7950f2;
  --tertiary: #161031;
  --html: #fd7e14;
  --css: #228be6;
  --js: #fcc419;
  --react: #04fdff;
  --vue: #12b886;
  --bootstrap: #523e78;
  --sass: #f03e3e;
  --restapi: #51cf66;
}
